num2words==0.5.12

Для початку роботи з програмою потрібно встановити будь-який редактор коду для Python.
Після чого встановити модуль num2words.
Для цього в cmd введіть команду:
"""
pip install num2words
"""
Після виконання всіх дій можна почати роботу з програмою.